.badge-container {
	position: relative;
}

.badge-red {
	background-color: red;
	border-radius: 50%;
	width: 25px;
	height: 25px;
	color: white;
	text-align: center;
	line-height: 25px;
}

.badge {
	position: absolute;
	top: -5%;
	left: 2%;
}

.badge-blue {

}